body {
  margin: 30px 15px 15px 15px;
  background-color: rgb(126, 205, 150);
 }
 h1 { 
  color: rgb(120, 132, 196);
  text-align: center;
  padding: 30px;
 }
 p {
  color: black;
  text-align: justify;
 } 
 .texto {
  color: rgb(3, 15, 15);
  font-weight: bold;
  font-family: Arial;
 }
 table{
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
 }
